<!DOCTYPE html>
<html>
    <head>
        <title>Ryan Day's blog</title>
        <link href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/app.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>Ryan's Blog</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Blog Post</a>
            </div>
        </div>
        
        
        
